[Unit]
Description=Setup Region
After=network-online.target
Before=autofs.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/exa_cloud/exa_region_setup.sh
