#
# Condor Security Config
#

# Always run as "nobody"
UID_DOMAIN = $(FULL_HOSTNAME)
STARTER_ALLOW_RUNAS_OWNER = False
DEDICATED_EXECUTE_ACCOUNT_REGEXP = cuser[0-9]+
SLOT1_USER = cuser1
SLOT2_USER = cuser2
SLOT3_USER = cuser3
SLOT4_USER = cuser4
SLOT5_USER = cuser5
SLOT6_USER = cuser6
SLOT7_USER = cuser7
SLOT8_USER = cuser8
SLOT9_USER = cuser9
SLOT10_USER = cuser10
SLOT11_USER = cuser11
SLOT12_USER = cuser12
SLOT13_USER = cuser13
SLOT14_USER = cuser14
SLOT15_USER = cuser15
SLOT16_USER = cuser16
SLOT17_USER = cuser17
SLOT18_USER = cuser18
SLOT19_USER = cuser19
#
# Define a common UID domain
#

UID_DOMAIN = cloud-exa
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True

# But the file system is not shared
FILESYSTEM_DOMAIN=$(FULL_HOSTNAME)

SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = FS,PASSWORD
SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = OPTIONAL

# With strong security, do not use IP based controls
ALLOW_WRITE = *

# Be a little paranoid about the Negotiator
# Note: We may not know where the negotiator is running, so cannot use IP based controls
ALLOW_NEGOTIATOR = condor_pool@cloud-exa/*


# But must explicity deny unauthenticated access 
DENY_WRITE = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON = anonymous@*
DENY_NEGOTIATOR = anonymous@*
DENY_CLIENT = anonymous@*
DENY_OWNER = anonymous@*

# CONDOR_HOST is the location of the central manager (the host that runs
# the collector and the negotiator)
#CONDOR_HOST = $(CLOUD_HEAD):$RANDOM_INTEGER(2010,2029)

DAEMON_LIST = MASTER, STARTD

# also enable CCB
CCB_ADDRESS = $(COLLECTOR_HOST)
PRIVATE_NETWORK_NAME = never


