#
# Condor Security Config
#

#
# Define a common UID domain
#

UID_DOMAIN = cloud-cms
TRUST_UID_DOMAIN = True
SOFT_UID_DOMAIN = True

# But the file system is not shared
FILESYSTEM_DOMAIN=$(FULL_HOSTNAME)

SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD, FS
SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = OPTIONAL

# With strong security, do not use IP based controls
ALLOW_WRITE = *

# Be a little paranoid about the Negotiator
# Note: We may not know where the negotiator is running, so cannot use IP based controls
ALLOW_NEGOTIATOR = condor_pool@cloud-cms/*
ALLOW_DAEMON = condor_pool@cloud-cms/*

# But must explicity deny unauthenticated access 
DENY_WRITE = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON = anonymous@*
DENY_NEGOTIATOR = anonymous@*
DENY_CLIENT = anonymous@*
DENY_OWNER = anonymous@*


#SCHEDD_DEBUG = D_PID D_SECURITY

