# condor config
#

#
# CLOUD_Provider   = AWS or Azure or Google
# CLOUD_Region     = Unique CLoud region string
# GEO_region       = USWest or USEast or EU or AsiaPacific
# CLOUD_DataRegion = CLOUD_Region from which the data is read from
#
STARTD_EXPRS = $(STARTD_EXPRS) CLOUD_Provider CLOUD_Region GEO_Region CLOUD_DataRegion


# add also CVMFS attributes
include : /etc/condor/scripts/get_cvmfs.config.sh |
