# Disable benchmarks, we do not care about them
RUNBENCHMARKS = FALSE

# Do frequent keepalives, to avoid being killed by NATs
TCP_KEEPALIVE_INTERVAL = 60

# we do not need fine grained fair share, keep the session for a long time
CLAIM_WORKLIFE=15000

# Do not use DNS, unreliable
DEFAULT_DOMAIN_NAME=local
NO_DNS=true


# limit the damage of black hole node
# we should never need to run more than 100 jobs per node in the demo setup
START = $(START) && (JobStarts < (TotalSlots * 100) )
