#
# Condor Config
#

# COLLECTOR_HOST is the location of the central manager (the host that runs
# the collector and the negotiator)
# COLLECTOR_HOST = $(CLOUD_HEAD):$RANDOM_INTEGER(2010,2029)
include : /etc/condor/scripts/collector_host.config.sh |

DAEMON_LIST = MASTER, STARTD
USE_SHARED_PORT=false


