# COLELCTOR_HOST is the location of the central manager (the host that runs
# the collector and the negotiator)
COLLECTOR_HOST = 44.231.60.224
DAEMON_LIST = MASTER, STARTD
USE_SHARED_PORT=False

# Disable benchmarks, we do not care about them
RUNBENCHMARKS = FALSE

# Do frequent keepalives, to avoid being killed by NATs
TCP_KEEPALIVE_INTERVAL = 60

# we do not need fine grained fair share, keep the session for a long time
CLAIM_WORKLIFE=15000

# Do not use DNS, unreliable
NO_DNS=true

# single slot
SLOT_TYPE_1 = cpu=auto,mem=auto
NUM_SLOTS_TYPE_1 = 1


EXECUTE = /dev/shm/
