#
# Condor Security Config
#

# Always run as "nobody"
UID_DOMAIN = $(FULL_HOSTNAME)
#
# Define a common UID domain
#

# But the file system is not shared
FILESYSTEM_DOMAIN=$(FULL_HOSTNAME)

SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL

SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = OPTIONAL

ALLOW_WRITE = $(FULL_HOSTNAME)
ALLOW_NEGOTIATOR = $(FULL_HOSTNAME)


# But must explicity deny unauthenticated access 
DENY_WRITE = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON = anonymous@*
DENY_NEGOTIATOR = anonymous@*
DENY_CLIENT = anonymous@*
DENY_OWNER = anonymous@*

DAEMON_LIST = MASTER, STARTD, SCHEDD, COLLECTOR, NEGOTIATOR

# work around HTCondor bug
NEGOTIATOR_PREFETCH_REQUESTS = False

