#
# Condor Config
#

# Always run as "nobody"
UID_DOMAIN = $(FULL_HOSTNAME)
STARTER_ALLOW_RUNAS_OWNER = False
SLOT1_USER = centos
SLOT2_USER = centos
SLOT3_USER = centos
SLOT4_USER = centos
SLOT5_USER = centos
SLOT6_USER = centos
SLOT7_USER = centos
SLOT8_USER = centos
SLOT9_USER = centos
SLOT10_USER = centos
SLOT11_USER = centos
SLOT12_USER = centos
SLOT13_USER = centos
SLOT14_USER = centos
SLOT15_USER = centos
SLOT16_USER = centos
SLOT17_USER = centos
SLOT18_USER = centos
SLOT19_USER = centos
SLOT20_USER = centos
SLOT21_USER = centos
SLOT22_USER = centos
SLOT23_USER = centos
SLOT24_USER = centos
SLOT25_USER = centos
SLOT26_USER = centos
SLOT27_USER = centos
SLOT28_USER = centos
SLOT29_USER = centos
SLOT30_USER = centos
SLOT31_USER = centos
SLOT32_USER = centos
SLOT33_USER = centos
SLOT34_USER = centos
SLOT35_USER = centos
SLOT36_USER = centos
SLOT37_USER = centos
SLOT38_USER = centos
SLOT39_USER = centos

# the file system is not shared
FILESYSTEM_DOMAIN=$(FULL_HOSTNAME)

