# Condor config
#

# Cannot use shared port daemon, if using multiple collectors
USE_SHARED_PORT = FALSE

# define sub collectors
COLLECTOR10 = $(COLLECTOR)
COLLECTOR11 = $(COLLECTOR)
COLLECTOR12 = $(COLLECTOR)
COLLECTOR13 = $(COLLECTOR)
COLLECTOR14 = $(COLLECTOR)
COLLECTOR15 = $(COLLECTOR)
COLLECTOR16 = $(COLLECTOR)
COLLECTOR17 = $(COLLECTOR)
COLLECTOR18 = $(COLLECTOR)
COLLECTOR19 = $(COLLECTOR)

COLLECTOR20 = $(COLLECTOR)
COLLECTOR21 = $(COLLECTOR)
COLLECTOR22 = $(COLLECTOR)
COLLECTOR23 = $(COLLECTOR)
COLLECTOR24 = $(COLLECTOR)
COLLECTOR25 = $(COLLECTOR)
COLLECTOR26 = $(COLLECTOR)
COLLECTOR27 = $(COLLECTOR)
COLLECTOR28 = $(COLLECTOR)
COLLECTOR29 = $(COLLECTOR)

# specify the ports for the sub collectors
COLLECTOR10_ARGS = -f -p 2010
COLLECTOR11_ARGS = -f -p 2011
COLLECTOR12_ARGS = -f -p 2012
COLLECTOR13_ARGS = -f -p 2013
COLLECTOR14_ARGS = -f -p 2014
COLLECTOR15_ARGS = -f -p 2015
COLLECTOR16_ARGS = -f -p 2016
COLLECTOR17_ARGS = -f -p 2017
COLLECTOR18_ARGS = -f -p 2018
COLLECTOR19_ARGS = -f -p 2019

COLLECTOR20_ARGS = -f -p 2020
COLLECTOR21_ARGS = -f -p 2021
COLLECTOR22_ARGS = -f -p 2022
COLLECTOR23_ARGS = -f -p 2023
COLLECTOR24_ARGS = -f -p 2024
COLLECTOR25_ARGS = -f -p 2025
COLLECTOR26_ARGS = -f -p 2026
COLLECTOR27_ARGS = -f -p 2027
COLLECTOR28_ARGS = -f -p 2028
COLLECTOR29_ARGS = -f -p 2029

# specify the logs for the sub collectors
COLLECTOR10_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector10Log"
COLLECTOR11_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector12Log"
COLLECTOR12_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector13Log"
COLLECTOR13_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector13Log"
COLLECTOR14_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector14Log"
COLLECTOR15_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector15Log"
COLLECTOR16_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector16Log"
COLLECTOR17_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector17Log"
COLLECTOR18_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector18Log"
COLLECTOR19_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector19Log"

COLLECTOR20_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector20Log"
COLLECTOR21_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector22Log"
COLLECTOR22_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector23Log"
COLLECTOR23_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector23Log"
COLLECTOR24_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector24Log"
COLLECTOR25_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector25Log"
COLLECTOR26_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector26Log"
COLLECTOR27_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector27Log"
COLLECTOR28_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector28Log"
COLLECTOR29_ENVIRONMENT = "_CONDOR_COLLECTOR_LOG=$(LOG)/Collector29Log"

# add sub collectors to the list of things to start
DAEMON_LIST = MASTER \
    COLLECTOR10 \
    COLLECTOR11 \
    COLLECTOR12 \
    COLLECTOR13 \
    COLLECTOR14 \
    COLLECTOR15 \
    COLLECTOR16 \
    COLLECTOR17 \
    COLLECTOR18 \
    COLLECTOR19 \
    COLLECTOR20 \
    COLLECTOR21 \
    COLLECTOR22 \
    COLLECTOR23 \
    COLLECTOR24 \
    COLLECTOR25 \
    COLLECTOR26 \
    COLLECTOR27 \
    COLLECTOR28 \
    COLLECTOR29 

# forward ads to the main collector
CONDOR_VIEW_HOST = $(CONDOR_HOST)
